body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --primary: #005861;
    --secondary: #02AFBE;
    --accent: #02aebe33;
  }

.p{
    color: var(--primary);
}

.w{
    color: white;
}

.s{
    color: var(--secondary);
}

.ac{
    color: var(--accent);
}

.vd-navbar{
    display: inline-block;
    z-index: 10000;
    width: 100%;
    padding: 0.6vw;
    position: sticky;
    top: 0;
    background-color: white;
    transition: top 0.3s;
}
.vd-navbar.scrolled {
    background-color: #DCF3F5 !important;
    transition: background-color 200ms linear;
  }

#navbar-logo{
    float: left;
    height: 3.8vw;
    margin-left: 1vw;
}

#navbar-links {
    float: right;
}

#navbar-links p{
    float: left;
    padding: 1vw 0;
    font-size: 1.4vw;
    font-weight: 700;
    margin: 0px 1vw;
    color: var(--primary);
    transition: 1s;
}

#navbar-links a{
        color: inherit;
        text-decoration: none;
}
/*------  HOME PAGE -------*/
.vd-main{
    width: 100%;
    position: relative;
    top: -5.2vw;
    padding: 10vw 5vw 5vw 5vw;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #DCF3F5;
}

.main1{
    margin-top: 0vw;
    width: 50%;
    float: left;
}

.main2{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 3vw;
    width: 50%;
    float: right;
}

.main2-shadow{
    position: relative;
    top: 2vw;
    width: 35vw;
    filter: blur(10px);
}

.main-txt{
    font-size: 5vw;
    font-weight: 700;
    margin-bottom: 2vw;
}

.take-tour{
    background-color: var(--secondary);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 14px;
    border: none;
    border-radius: 50px;
}

.main-illus{
    float: right;
    max-width: 100%;
    max-height: 100%;
}

.vd-head{
    height: 70%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.vd-logo{
    width: 40vw;
    transition: ease-in-out;
    margin-bottom: 2vw;
}

.head-txt{
    font-size: 4vw;
    font-weight: 700;
    margin-bottom: 3vw;
}

.head-sub{
    font-size: 1.4vw;
    font-weight: 400;
}

.s-bar{
    width: max-content;
    border-bottom: solid 10px var(--secondary);
}

.w-bar{
    width: max-content;
    border-bottom: solid 10px white;
}

.vd-roots{
    background-color: #02AFBE;
    height: 30vw;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vw;
    margin: 100px 0;
    box-shadow: 0px 0px 20px black;
}

.roots-cnt{
    padding: 4vw 5vw 4vw 5vw;
}

.roots-img{
    height: 40vw;
    width: auto;
    filter: drop-shadow(0px 0px 10px black);
}

.roots-txt{
    font-size: 4vw;
    font-weight: 700;
    margin-bottom: 4vw;
}

.roots-sub{
    font-size: 1.4vw;
    font-weight: 400;
    margin-bottom: 2vw;
}

.know-more{
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 14px;
    border: none;
    border-radius: 50px;
}

.vd-services{
    display: inline-flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 2vw;
    margin-top: 100px;
}

.serv-illus{
    height: 18vw;
    flex-basis: 40%;
}

.serv-illus img{
    max-width: 100%;
    max-height: 100%;
}

.serv-cnt{
    flex-basis: 80%;
}


.serv-txt{
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 3vw;
}

.serv-sub{
    font-size: 1.4vw;
    font-weight: 400;
    margin-bottom: 2vw;
}

.vd-servs{
    margin: 30px 0 120px 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    vertical-align: middle;
}

.serv-card{
    background-color: white;
    border: none;
}


.serv-icon{
    width: 7em;
    height: 7em;
    align-self: center;
    background-size: contain;
    border-radius: 50%;
    transition:ease-out 0.3s;
}

.serv-icon:hover{
    transform: scale(1.1,1.1);
    box-shadow: 0px 0px 25px var(--primary);
}

.serv-name{
    word-wrap: break-word;
    font-size: 1.4vw;
    font-weight: 600;
}

.vd-client{
    display: flex;
    flex-flow: row-reverse;
    margin: 100px 0;
    padding: 2vw;
    justify-content: space-evenly;
    align-items: center;
    background-color: #02AFBE;
    height: 35vw;
    box-shadow: 0px 0px 20px black;
}

.client-cnt{
    width: 70%;
}

.client-img{
    height: 40vw;
    width: auto;
    filter: drop-shadow(0px 0px 10px black);
}

.client-txt{
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 2vw;
}

.client-sub{
    font-size: 1.4vw;
    font-weight: 400;
}

.client-cards{
    margin: 2em;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

/* .vd-cardrow{
    margin: 0vw;
    margin-bottom: 2vw;
    width: auto;
} */

.vd-card{
    flex-basis: 15%;
    height: auto;
    margin: 5px;
}

.vd-card img{
    max-width: 100%;
    max-height: 100%;
    transition: .1s;
}


.vd-card img:hover{
    transform: scale(1.1,1.1);
}


.vd-reviews{
    margin: 2em;
    display: inline-flex;
    flex-flow: wrap;
    align-items: center;
}


.review-cnt{
    flex-basis: 80%;
}

.review-illus{
    flex-basis: 20%;
}

.review-illus img{
    max-width: 100%;
    max-height: 100%;
}



.review-txt{
    font-size: 4vw;
    font-weight: 700;
}

.vd-testimonial{
    width: 100%;
    margin: 0;
}

.tst-row{
    width: 100%;
    margin: 0;
    padding: 2vw;
    justify-content: space-around;
}

.tst-img{
    position: relative;
    top: -2vw;
    left: -2vw;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0.5vw 0.5vw 1vw #7e7e7e7a;
}

.tst-card{
    border: none;
    border-radius: 1vw;
    background-color: #02AFBE5C;
    height: 21vw;
    width: 18vw;
    margin: 4vw 1vw;

}

.tst-body{
    margin: 0;
    padding: 1vw;
}

.tst-name{
    font-size: 1.2vw;
    font-weight: 700;
    margin-top: -2vw;
}

.tst-com{
    font-size: 1vw;
    font-weight: 600;
    opacity: 0.75;
}

.tst-txt{
    padding-top: 0.5vw;
    font-size: 0.9vw;
    font-weight: 500;
}

.vd-memories{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/our-memories.png);
    height: 60vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110vw 60vw;
    margin-bottom: 10vw;
}

.memo-cnt{
    margin-top: 20px;
    padding: 10px;
}

.memo-txt{
    font-size: 3.5vw;
    font-weight: 700;
}

.memo-gallery{
    width: 80%;
    padding: 4vw;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.gal-pic{
    margin: 2vw 0.2vw;
}

.g-sm{
    width: 22vw;
    height: 12vw;
    background-position: center;
    background-size: cover;
    border-radius: 2vw;
}

.g-lg{
    width: 20vw;
    height: 12vw;
    background-size: cover;
    border-radius: 2vw;
}

.view-more{
    width: auto;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 14px;
    border: none;
    border-radius: 50px;
}

/*------  HOME PAGE -------*/
/*------  SERVICES PAGE -------*/

.s-main{
    width: 100%;
    padding: 4vw;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--accent);
}

.smain1{
    display: flex;
    flex-flow: column;
    padding: 3vw;
    margin-top: -8vw;
    width: 50%;
    float: left;
}

.smain2{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 3vw;
    width: 40%;
    float: right;
}

.smain-illus{
    float: right;
    max-width: 100%;
    max-height: 100%;
}
.smain2-shadow{
    position: relative;
    top: 2vw;
    width: 35vw;
    filter: blur(10px);
}

.smain-txt{
    font-size: 5vw;
    font-weight: 700;
    margin-bottom: 2vw;
}

.ssub{
    font-size: 1.4vw;
    font-weight: 400;
}

.view-all{
    background-color: var(--secondary);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 14px;
    width: 160px;
    border: none;
    border-radius: 50px;
}

.s-container{
    display: flex;
    flex-flow: column;
}
.s-card:nth-of-type(even){
    background-color: var(--accent);
}
.s-card{
    height: 600px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

/*------  SERVICES PAGE -------*/
/* clients */
.cl-projects{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.cl-progal{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding: 50px;
}
.cl-prcard{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 10px;
    width: 600px;
    padding: 10px;
}
.cl-detail{
    display: flex;
    flex-flow: column;
    justify-content: left;
    width: 30%;
    word-break: break-all;
    padding: 20px;

}

/* client-end */
/*------  About -----*/


.vd-roots{
    background-color: #02AFBE;
    height: 30vw;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vw;
    margin: 100px 0;
    box-shadow: 0px 0px 20px black;
}

.roots-cnt{
    padding: 4vw 5vw 4vw 5vw;
}

.roots-img{
    height: 40vw;
    width: auto;
    filter: drop-shadow(0px 0px 10px black);
}

.roots-txt{
    font-size: 4vw;
    font-weight: 700;
    margin-bottom: 4vw;
}

.roots-sub{
    font-size: 1.4vw;
    font-weight: 400;
    margin-bottom: 2vw;
}

.vd-touch{
    justify-content: space-around;
    padding: 2vw;
    flex-basis: 80%;
    
}
.touch-txt{
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 3vw;
    margin-left: 2vw;
    margin-right: 2vw;
}
.touch-sub{
    font-size: 1.4vw;
    font-weight: 400;
    margin-bottom: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
}
.vd-pf{
    display: inline-flex;
    justify-content: space-around;
    padding: 2vw;
    flex-basis: 80%;
    background-color: #02AFBE;
    align-items: center;
    filter: drop-shadow(0px 0px 20px black);
}
.vd-pride{
    flex-basis: 80%;
    text-align: center;
    
}
.pride-txt{
    font-size: 3vw;
    font-weight: 700;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    color: white;
    
   
}
.pride-sub{
    font-size: 1.4vw;
    font-weight: 400;
    margin-left: 2vw;
    margin-right: 10vw;
    display: flex;  
    margin-top: 3vw;
    color: white;

}
.pride-img{
    flex-basis: 10%;
    display: inline-flex;
    height: 10vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}


.vd-card{
    flex-basis: 15%;
    height: auto;
    margin: 5px;
}

.vd-card img{
    max-width: 100%;
    max-height: 100%;
    transition: .1s;
}


.vd-card img:hover{
    transform: scale(1.1,1.1);
}


.vd-reviews{
    margin: 2em;
    display: inline-flex;
    flex-flow: wrap;
    align-items: center;
}


.review-cnt{
    flex-basis: 80%;
}

.review-illus{
    flex-basis: 20%;
}

.review-illus img{
    max-width: 100%;
    max-height: 100%;
}



.review-txt{
    font-size: 4vw;
    font-weight: 700;
}
.review-sl
{
    margin-top: 3vw;
    font-size: 1.5vw;
}
.review-bd{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
}
.vd-testimonial{
    width: 100%;
    margin: 0;
}

.tst-row{
    width: 100%;
    margin: 0;
    padding: 2vw;
    justify-content: space-around;
}

.tst-img{
    position: relative;
    top: -2vw;
    left: -2vw;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0.5vw 0.5vw 1vw #7e7e7e7a;
}

.tst-card{
    border: none;
    border-radius: 1vw;
    background-color: #02AFBE5C;
    height: 21vw;
    width: 18vw;
    margin: 4vw 1vw;

}

.tst-body{
    margin: 0;
    padding: 1vw;
}

.tst-name{
    font-size: 1.2vw;
    font-weight: 700;
    margin-top: -2vw;
}

.tst-com{
    font-size: 1vw;
    font-weight: 600;
    opacity: 0.75;
}

.tst-txt{
    padding-top: 0.5vw;
    font-size: 0.9vw;
    font-weight: 500;
}


/*------  About -----*/

.vd-contact{
    width: 100%;
    position: relative;
    top: -5.2vw;
    padding: 10vw 5vw 5vw 5vw;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 40%;
    background-color: #DCF3F5;
}

input[type=text] {
    border: none;
    width: 120%;
    margin: 8px 0;
    border-bottom: 2px solid #02AFBE;
    
  }
  input[type=email] {
    border: none;
    width: 120%;
    margin: 8px 0;
    border-bottom: 2px solid #02AFBE;
  }
  input[type=tel] {
    border: none;
    width: 120%;
    margin: 8px 0;
    border-bottom: 2px solid #02AFBE;
  }
  textarea{
    margin: 8px 0;
    width: 120%;
      border: 2px solid #02AFBE;
  }
  input[type=submit] {
    background-color: #02AFBE;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    margin-top: 3vw;
    width: 120%;
    cursor: pointer;
  }
.vd-form{
       display:inline-flex ;
       margin-left: 6vw;
       margin-right:3vw ;
       margin-top: 5vw ;
       align-items: center
}
.location{
    align-items:right ;
    margin-left:18vw ;
    width: fit-content;
    align-items: center;
}
.glocation{
    
    border: 2px groove #02AFBE;
}


.vd-footer{
    background-color: var(--primary);
    width: 100%;
    padding: 2vw;
    margin-top: 6vw;
    display: inline-flex;
    flex-flow: column;
    position: relative;
    bottom: 0;
}

.foot-txt{
    font-size: 2vw;
    font-weight: 700;
}

.foot-container{
    display: inline-flex;
    flex-flow: row;
    justify-content: space-between;
}

.foot-info{
    margin-top: 1vw;
    width: 40%;
}

.info-icon{
    height: 2vw;
    width: 2vw;
    background-position: center;
    background-size: 2vw 2vw;
    margin-right: 1vw;
    float: left;
}

.info-txt{
    color: white;
    margin: 0.4vw 42px;
    font-size: 1em;
    font-weight: 400;
}

.info-txt a{
    color: inherit;
    text-decoration: none;
}

.foot-links{
    overflow: hidden;
}

.foot-link{
    border-radius: 15px;
}



/* If the screen size is 601px wide or more, set the font-size of <div> to 80px 
@media screen and (min-width: 601px) {
    div.example {
      font-size: 80px;
    }
  }
*/

  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 1300px) {

  }
  